@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Rubik+Iso&family=Sono:wght@500&family=Tilt+Prism&display=swap');
body {
    font-family: 'Tilt Prism', cursive;
    background-color: #6096B4;
}

#mascota {
    display: flex;              /* Siempre el flex va en columna y de izq a derecha por default */
    flex-direction: column;     /* Con esto ponemos que sea en modo columna */
    justify-content: center;    /* Centra el contenido de manera vertical (por la columna) */
    align-items: center;        /* Centra el contenidod e manera horizontal */
}

.titulo {               /* si es una "clase", se utiliza un punto al inicio */
    color: white;
    font-size: 50px;
    font-family: 'Rubik Iso', cursive;
}

.subtitulo {
    color: white;
    font-size: 35px;
}

.tarjetas, .tarjetas-ataques {
    display: flex;
    gap: 10px;
}

.tarjeta-de-mokepon {
    width: 180px;
    height: 100px;
    background: #93BFCF;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    font-family: 'Sono', sans-serif;

}

.tarjeta-de-mokepon img {
    width: 80px;
}

#boton-mascota {
    width: 180px;
    height: 40px;
    border-radius: 20px;
    background: transparent;
    border: 2px solid #EEE9DA;
    color: white;
    font-family: 'Righteous', cursive;
    /*margin: 20px 0 0 0;                   cualquiera sirve, ya sea los 4 o directamente top-bottom etc*/             
    margin-top: 30px;
}

input {
    display: none;
}

input:checked + label{
    /* width: 100px; */
    background-color: #BDCDD6;
}

#ataque{
    flex-direction: column;
    align-items: center;
}

.boton-de-ataque {
    background-color: #BDCDD6;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    border-color: transparent;
    width: 100px;
    color: white;
    font-family: 'Sono', sans-serif;
}

#mensajes {
    width: 280px;
    background: #93BFCF;
    padding: 20px;
    margin-top: 20px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#boton-reiniciar {
    border: none;
    color: white;
    background-color: #93BFCF;
    font-family: 'Tilt Prism', cursive;
}

.ataques {
    display: grid;
    grid-template-columns: 100px 100px;
}

#vidas-jugador, #vidas-enemigo {
    font-size: 32px;
    margin-bottom: 0;
}

.ataques-jugador, .ataques-enemigo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 360px) {
    .tarjetas {
        flex-direction: column;
    }
    .tarjetas-ataques {
        flex-direction: column;
    }
}